<h2 ng-if="book.readstatus === 'toRead'">I want to read:</h2>
<h2 ng-if="book.readstatus === 'currentlyReading'">I'm currently reading:</h2>
<h2 ng-if="book.readstatus === 'alreadyRead'">I have already read:</h2>

<div>
  <a href="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"><img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"></a>
</div>

<ul>
  <li>Title: {{ book.title }}</li>
  <li>Author: {{ book.author }}</li>
  <li>Added on: {{ book.createdAt | date:'medium' }}</li>
  <li>Updated on: {{ book.updatedAt | date:'medium' }}</li>
</ul>

<a role="button" class="button" href="#/edit/{{ book.objectId }}" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
<a role="button" class="button" ng-click="deleteMe(book)" title="Delete"><i class="fa fa-trash-o"></i></a>
