<h2>I'm currently reading:</h2>

<ul>
  <li ng-if="book.readstatus === 'currentlyReading'" ng-repeat="book in bookList">
    <a href="#/book/{{ book.objectId }}">
      {{ book.title }} by {{ book.author }}
    </a>
  </li>
</ul>

<a href="#/toread"><h2>I want to read...</h2></a>
<ul class="inline-list">
  <li ng-if="book.readstatus === 'toRead'" ng-repeat="book in bookList">
    <a href="#/book/{{ book.objectId }}">
      <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg">
    </a>
  </li>
</ul>

<a href="#/alreadyread"><h2>I have already read...</h2></a>
<ul class="inline-list">
  <li ng-if="book.readstatus === 'alreadyRead'" ng-repeat="book in bookList">
    <a href="#/book/{{ book.objectId }}">
      <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg">
    </a>
  </li>
</ul>
